Source: cvmfs-setup-autofs
Maintainer: Dave Dykstra <dwd@fnal.gov>
Section: utils
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), dh-systemd
Homepage: https://github.com/cvmfs-contrib/cvmfs-setup-autofs

Package: cvmfs-setup-autofs
Architecture: all
Depends: ${misc:Depends}, cvmfs, autofs (>= 5.1.2)
Description: Configure the CernVM File System to mount with autofs
 The CernVM File System is a client for accessing remote file systems
 using HTTP(S). This package provides the configuration to ensure that
 CVMFS filesystems are mounted automatically with autofs.
